.photoVideoDiv{
    display: flex;
    justify-content: center;
}
#photovideopara1{
    text-align: center;
    font-size: 24px;
}
#photovideoimage1{
    width: 88px;
    margin-top: 22px;
}
.photovideoimagediv1{
    margin-left: 4%;
}
.photovideoimagediv{
    margin-right: 3%;
}
.TopDesignDiv{
    display: flex;
    justify-content: space-between;
}
#DesignImage{
    height: 16vh;
}
#DesignImage1{
    height: 13vh;
}
#Para{
    font-size: 30px;
    font-weight: 500;
}
.Photoouterdiv{
    background: #FFF6E4;

}
.GallerySection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 9%;
}
#galleryimage{
    width: 29%;
    height: 44vh;
    margin-bottom: 3%;
}

/* VideoDiv */
#galleryimage1{
    width: 320px;
    height: 44vh;
    margin-bottom: 3%;
    margin-left: 5px;
    margin-right: 5px;
}

/* media query */
@media only screen and (max-width:1080px){
    #DesignImage {
        height: 11vh;
    }
    #DesignImage1 {
        height: 10vh;
    }
    #Para {
        font-size: 28px;
        font-weight: 500;
    }
    #galleryimage {
        height: 37vh;
    }

    #galleryimage1{
        width: 256px;
        height: 38vh;
        margin-bottom: 7%;
    }
    
}
@media only screen and (max-width:850px) {
    #photovideoimage1 {
        width: 68px;
    }
    #photovideopara1 {
        font-size: 20px;
    }
    #Para {
        font-size: 23px;
    }
    #DesignImage1 {
        height: 7vh;
    }
    #DesignImage {
        height: 9vh;
    }
    #galleryimage {
        height: 29vh;
    }
}
@media only screen and (max-width:650px){
    #Para {
        font-size: 17px;
    }
    #photovideoimage1 {
        width: 54px;
    }
    #photovideopara1 {
        font-size: 16px;
    }
    #DesignImage1 {
        height: 5vh;
    }
    #DesignImage {
        height: 7vh;
    }
    #galleryimage {
        height: 24vh;
    }
    #galleryimage1 {
        width: 191px;
        height: 28vh;
        margin-bottom: 7%;
    }
}
@media only screen and (max-width:475px){
    #DesignImage {
        height: 4vh;
    }
    #DesignImage1 {
        height: 4vh;
    }
    #Para {
        font-size: 12px;
    }
    #photovideoimage1 {
        width: 44px;
    }
    #photovideopara1 {
        font-size: 12px;
    }
    #galleryimage {
        height: 19vh;
    }
    #galleryimage1 {
        width: 137px;
        height: 15vh;
        margin-bottom: 10%;
        margin-left: 0;
    }
}
@media only screen and (max-width:330px){
    #DesignImage {
        height: 3vh;
    }
    #DesignImage1 {
        height: 3vh;
    }
    #Para {
        font-size: 9px;
    }
    #photovideoimage1 {
        width: 53px;
    }
    #photovideopara1 {
        font-size: 15px;
    }
    #galleryimage {
        height: 14vh;
    }
    #galleryimage1 {
        width: 89px;
        height: 11vh;
        margin-bottom: 10%;
        margin-left: 0;
    }
}