.outerdivofaboutdiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4%;
}
#aboutphotoimage{
    height: 44vh;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 4%;
    border-radius: 10px;
}
/* media Query */
@media only screen and (max-width:800px){
    #aboutphotoimage {
        height: 24vh;
    }
}
@media only screen and (max-width:500px){
    #aboutphotoimage {
        height: 13vh;
    }
}
@media only screen and (max-width:340px){
    #aboutphotoimage {
        height: 9vh;
    }
}