.Cardouterdiv{
    background-color: #ffff;
    width: 18%;
    margin-top: 5%;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
    height: 49vh;
    margin-bottom: 4%;
}
#cardimage{
    margin-top: -25%;
}
#cardheading{
    text-align: center;
    margin-top: 22%;
}
#cardpara{
    margin-left: 12%;
    margin-right: 10%;
    font-size: 21px;
    margin-top: 28%;
}
.cardimagediv{
    display: flex;
    justify-content: center;
}