.Cardouterdiv{
    background-color: #ffff;
    width: 17%;
    margin-top: 5%;
    border-radius: 10px;
    /*margin-right: 3%;
    margin-left: 3%;
    height: 49vh;*/
    margin-bottom: 4%;
}
#cardimage{
    margin-top: -25%;
}
#cardheading{
    text-align: center;
    margin-top: 22%;
}
#cardpara{
    margin-left: 12%;
    margin-right: 10%;
    font-size: 21px;
    margin-top: 28%;
}
.cardimagediv{
    display: flex;
    justify-content: center;
}
/* css query */
@media only screen and (max-width: 1000px){
    .Cardouterdiv {
        width: 21%;
    }
}
@media only screen and (max-width: 738px){
    .Cardouterdiv {
        width: 26%;
        margin-bottom: 8%;
    }
    #cardheading {
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
    }
    #cardpara {
        font-size: 16px;
        margin-top: 19%;
    }
}
@media only screen and (max-width: 550px){
    .Cardouterdiv {
        width: 39%;
        margin-bottom: 12%;
    }
    #cardimage {
        margin-top: -29%;
        height: 11vh;
    }
}
@media only screen and (max-width: 375px){
    .Cardouterdiv {
        width: 51%;
        margin-bottom: 14%;
    }
    #cardimage {
        margin-top: -21%;
        height: 15vh;
    }
}