body{
    overflow-x: hidden;
    left: 0;
    right:0;
    box-sizing: border-box;
    margin: 0;
}
.GuruFirstDivBox{
    display: flex;
}
#demoImage{
    height:44vh;
    margin-right: 172px;
}
.demoImageBox{
    margin-left: 19%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#AchrayaTextPart{
    font-family: Inter;
    font-size: 35px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16%;

}
.TextPart{
    display: flex;
    flex-wrap: wrap;
    width: 54%;
}
.NormalBox{
    background: #4F0083;
    width: 22%;
    height: 5vh;
    margin-top: -12%;
    margin-left: 24%

}

.GuruFirstDivOuterBox{
    background: #FFF6E4;
    overflow-x: hidden;
}
#chatImage{
    float: right;
    width: 40px;
    margin-top: -6%;
    margin-right: 6%;
}

.oneSocialMedia {
    display: flex;
    flex-direction: row;
    /*margin-right: 22px;*/
    background: #9100D0;
    width: 138px;
    height: 51px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 2%;
}
.oneSocialMedia1 {
    display: flex;
    flex-direction: row;
    background: #9100D0;
    width: 138px;
    height: 51px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 2%;
    margin-left: 72%;
}
#oneSocialMediaImage {
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 8px;
}
#SocialMediaText {
    font-size: 20px;
    color: white;
    margin-top: 14px;
}
.SocialMedia{
    margin-top: 5%;
}
.socialdiv:hover{
    margin-left: 0;
    transition: 1s ease;
}
.socialdiv{
    display: flex;
    background: #9100D0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 70%;
}
/* CSS */
@media screen and (max-width: 1200px){
    #demoImage {
        height: 36vh;
        margin-right: 52px;
    }
    #AchrayaTextPart {
        margin-right: -6%;
    }
    .NormalBox {
        background: #4F0083;
        width: 35%;
        height: 5vh;
        margin-top: -9%;
        margin-left: 32%;
    }
}

@media screen and (max-width: 1020px){
    .demoImageBox {
        margin-left: 9%;
    }
    #AchrayaTextPart {
        margin-right: -5%;
        font-size: 25px;
        line-height: 36px;
    }
    .NormalBox {
        margin-top: -11%;
        margin-left: 12%;
    }
    #demoImage {
        height: 20vh;
    }
}
@media screen and (max-width: 769px){
    #demoImage {
        height: 27vh;
        margin-right: 16px;
    }
    #AchrayaTextPart {
        margin-right: -5%;
        font-size: 20px;
        line-height: 31px;
        margin-left: 5%;
    }
    #chatImage {
        margin-right: 10%;
    }
}
@media screen and (max-width: 600px){
    .SocialMedia {
        display: none;
    }
    #chatImage {
        display: none;
    }
    .TextPart {
        width: 64%;
    }
    #demoImage {
        height: 20vh;
         margin-right: 0px; 
    }
    .NormalBox {
        margin-top: 2%;
        margin-left: 12%;
        width: 43%;
    }
    #AchrayaTextPart {
        margin-right: 3%;
        font-size: 16px;
        line-height: 26px;
        margin-left: 5%;
    }
}

@media screen and (max-width: 360px){
    #demoImage {
        height: 14vh;
        margin-right: 0px;
        margin-top: 28%;
        margin-left: 13%;
    }
    #AchrayaTextPart {
        font-size: 12px;
        line-height: 21px;
    }
    .NormalBox {
        margin-top: -4%;
        margin-left: 16%;
        width: 42%;
        height: 3vh;
    }
    
    
}