.newsupdateouterdiv{
    margin-top: 10%;
    margin-right: 4%;
    background: #E7C1F6;
}
#newsupdateheading{
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}
#newsupdatepara{
    font-size: 22px;
    margin-top: 18%;
    margin-left: 3%;
    margin-right: 3%;
}