.outerservicediv{
    background-image:url("../../Images/Home/servicebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.designdiv{
    display: flex;
    justify-content: space-around;
}
#servicetext{
    font-size: 44px;
    font-weight: bold;
}
.carddiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* css media query */
@media only screen and (max-width: 1000px){
    #designing{
        width: 200px;
    }
    #servicetext {
        font-size: 40px;
    }
}
@media only screen and (max-width: 738px){
    #designing {
        width: 160px;
    }
    #servicetext {
        font-size: 34px;
    }
}
@media only screen and (max-width: 550px){
    #designing {
        width: 110px;
    }
    #servicetext {
        font-size: 25px;
    }
    
}
@media only screen and (max-width: 375px){
    #designing {
        width: 83px;
    }
    #servicetext {
        font-size: 20px;
    }
}