.sunarrisechangediv{
    display:flex
}
#sunarrisekunaliimage{
    width: 244px;
    height: 244px;
    padding: 0;
}
.littlegap{
    margin-left: 2%;
}
.textouterdiv{
    display: flex;
}
.textarrangementdiv{
    margin-left: 20px;
    margin-right: 30px;
}
#sunarrisedatepara{
    font-size: 20px;
}
#sunarrisedatepara1{
    display: flex;
    font-size: 20px;
}
#sunarrisedatepara2{
    display: flex;
    font-size: 20px;
    margin-top: -8%;
}
#nextupdate{
    margin-top: 0;
    margin-left: 51px;
}
.sunarriseouterdiv {
    background: #E7C1F6;
    margin-top: 10%;
    width: 44%;
    border-radius: 9px;
}
.sunarrisepara {
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#vedicpanchang{
    text-align:center;
}

/* css */
@media only screen and (max-width:1360px){
    #sunarrisekunaliimage {
        width: 198px;
        height: 244px;
        padding: 0;
    }
    #sunarrisedatepara1 {
        display: flex;
        font-size: 18px;
    }
    #sunarrisedatepara {
        font-size: 18px;
    }
    #sunarrisedatepara2 {
        display: flex;
        font-size: 18px;
        margin-top: -8%;
    }
    .sunarrisepara {
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width:1184px){
    .newsupdateouterdiv {
        margin-top: 10%;
        margin-right: 1%;
        background: #E7C1F6;
        border-radius: 10px;
    }
    #sunarrisekunaliimage {
        width: 168px;
        height: 226px;
        padding: 0;
    }
    #vedicpanchang {
        text-align: center;
        font-size: 20px;
    }
}
@media only screen and (max-width:900px){
.sunarriseouterdiv {
    background: #E7C1F6;
    margin-top: 10%;
     width: 98%; 
    border-radius: 9px;
   /* margin-right: 28px;*/
    /* padding-right: 20px; */
}
#sunarrisekunaliimage {
    width: 244px;
    height: 244px;
    padding: 0;
}
.textupdate{
    width: 100%;
}
.sunarrisepara {
    font-size: 21px;
    margin-left: 5%;
    margin-right: 5%;
}
#sunarrisedatepara {
    font-size: 21px;
}
#sunarrisedatepara1 {
    display: flex;
    font-size: 21px;
}
#sunarrisedatepara2 {
    display: flex;
    font-size: 21px;
    margin-top: -8%;
}
#vedicpanchang {
    text-align: center;
    font-size: 24px;
}
}
/*
@media only screen and (max-width:850px){
    #sunarrisekunaliimage {
        width: 129px;
        padding: 1%;
        height: 20vh;
        margin-top: 16%;
    }
    .sunarriseouterdiv {
        width: 46%;
    }
    .sunarrisepara {
        font-size: 18px;
        width: 98%;
    }
    #newsupdatepara {
        font-size: 18px;
    }
    #sunarrisedatepara {
        font-size: 18px;
    }
    #vedicpanchang {
        text-align: center;
        margin-left: -35%;
    }
    #sunarrisedatepara1 {
        display: flex;
        font-size: 17px;
    }
    #sunarrisedatepara2 {
        display: flex;
        font-size: 17px;
        margin-top: -8%;
    }
    #sunarrisekunaliimage {
        width: 130px;
        padding: 1%;
        height: 31vh;
        margin-top: 13%;
    }
}*/
@media only screen and (max-width:700px){
    .sunarriseouterdiv {
        width: 96%;
        margin-right: 0;
    }
    #sunarrisekunaliimage {
        margin-top: 0%;
        padding: 0;
        width: 220px;
        height: 220px;
    }
    #vedicpanchang {
        margin-left: 0%;
    }
    .sunarrisepara {
        font-size: 17px;
        width: 92%;
        margin-left: 4%;
    }
    #newsupdatepara {
        font-size: 19px;
        margin-top: 6%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .newsupdateouterdiv {
        margin-top: 10%;
        margin-right: 4%;
        background: #E7C1F6;
        margin-left: 0%;
    }
    #sunarrisedatepara {
        font-size: 17px;
    }
    #sunarrisedatepara1 {
        font-size: 17px;
    }
    #sunarrisedatepara2 {
        font-size: 17px;
    }
    #vedicpanchang {
        text-align: center;
        font-size: 19px;
    }
    
}
@media only screen and (max-width:500px){
    .sunarrisepara {
        font-size: 13px;
        width: 98%;
        margin-left: 3%;
    }
    #sunarrisedatepara {
        font-size: 13px;
    }
    #sunarrisedatepara1 {
        font-size: 13px;
    }
    #sunarrisedatepara2 {
        font-size: 13px;
    }
    #sunarrisekunaliimage {
        margin-top: 3%;
        width: 258px;
        align-self: center;
    }
    #vedicpanchang {
        margin-left: 0%;
        font-size: 20px;
    }
    .sunarrisechangediv {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:400px)
{
    #sunarrisekunaliimage {
        margin-top: 2%;
        width: 195px;
        /* height: 24vh; */
    }
    #vedicpanchang {
        margin-left: 0%;
        font-size: 16px;
    }
    #sunarrisedatepara {
        font-size: 13px;
    }
    .sunarrisepara {
        font-size: 12px;
        width: 96%;
        margin-left: 3%;
    }
    #sunarrisedatepara1 {
        font-size: 13px;
    }
    #sunarrisedatepara2 {
        font-size: 13px;
    }
}
@media only screen and (max-width:300px){
    #sunarrisekunaliimage {
        margin-top: 2%;
        width: 130px;
        height: 130px;
    }
    #vedicpanchang {
        margin-left: 0%;
        font-size: 13px;
    }
}
