.TestimonalOuterdiv{
    background: #E7C1F6;
    overflow-x: hidden;
}


.HeadingofTestimonal{
    display: flex;
    justify-content: center;
    margin-top: 3%;

}
#Testimonal{
    font-size: 30px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
.Testimonalinfodiv{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
#clientimage{
    width:76%;
    margin-left: 11%;
}
#number{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: -42%;
}
.Clientdataouterdiv{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
#Happyclient{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 35%;
}

/* media query */
@media only screen and (max-width:900px){
    #desigin{
        width: 248px;
    }
    #Testimonal {
        font-size: 26px;
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
    #clientimage {
        width: 65%;
        margin-left: 17%;
    }
    #Happyclient {
        font-size: 25px;
    }
}
@media only screen and (max-width:785px){
    #clientimage {
        width: 59%;
        margin-left: 21%;
    }
    #number {
        font-size: 23px;
        margin-top: -35%;
    }
    #Happyclient {
        font-size: 23px;
    }
}

@media only screen and (max-width:600px){
    #desigin{
        width: 184px;
    }
    #Testimonal {
        font-size: 21px;
    }
    #clientimage {
        width: 53%;
        margin-left: 21%;
    }
    #number {
        font-size: 19px;
        margin-top: -32%;
    }
    #Happyclient {
        font-size: 17px;
    }
    .Testimonalinfodiv {
        overflow-x: scroll;
    }
}

@media only screen and (max-width:416px){
    #desigin {
        width: 115px;
    }
    #Testimonal {
        font-size: 15px;
    }
    #number {
        font-size: 12px;
        margin-top: -34%;
    }
    #Happyclient {
        font-size: 12px;
    }
}