.firstdivoutercontainer{
    background: #E7C1F6;

}
.firstdivinnercontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width:400px){
.firstdivinnercontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 6px;
    padding-right: 6px;
}
}