.blogscarddiv{
    background-image: url("../../Images/Blogs/Bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 30%;
    border-radius: 10px;
    position: relative;
}
.descriptionofblogs{
    position: absolute;
    background-color: #ffff;
    opacity: 0.5;
    bottom: 0;
}
#shareimage{
    float: right;
}
#headingblogs{
    font-weight: 600;
    font-size: 20px;
    display: flex;
}
#descriptionofheadingblog {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}