.blogscarddiv{
    background-image: url("../../Images/Blogs/Bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 37vh;
    width: 358px;
    border-radius: 10px;
    position: relative;
    margin-right: 0%;
    margin-left: 1%;
    margin-bottom: 4%;
}
.descriptionofblogs{
    position: absolute;
    background:#fff;
    opacity: 0.5;
    bottom: 0;
}
#shareimage{
    float: right;
}
#headingblogs{
    font-weight: 600;
    font-size: 20px;
    display: flex;
}
#descriptionofheadingblog {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}