.TopDesignDiv{
    display: flex;
    justify-content: space-between;
}
#designImage{
    height: 16vh;
}
#designImage1{
    height: 13vh;
}
#para{
    font-size: 30px;
    font-weight: 500;
}

/* media query */
@media only screen and (max-width:1040px){
    #designImage {
        height: 10vh;
    }
    #designImage1 {
        height: 10vh;
    }
    #para {
        font-size: 23px;
        font-weight: 500;
    }
    
    
}
