body {
  overflow-x: hidden;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
}
.linkUl {
  display: flex;
  list-style: none;
}
.linkTab {
  width: 100%;
  margin-left: 27%;
}
.linkUl li {
  margin-left: 4%;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.searchDiv {
  display: flex;
  width: 10%;
  justify-content: space-around;
  margin-top: 0.5%;
  margin-right: 7%;
}
.HeaderTopDiv {
  display: flex;
  background-color: #fdf7f7;
  box-shadow: 4px 2px 4px 2px grey;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
}
.loginDiv {
  background: #9100d0;
  margin-right: -22px;
  width: 71px;
  border-radius: 40px;
  height: 38px;
}
#loginTextOnly {
  font-size: 20px;
  text-align: center;
  align-self: center;
  color: #ffff;
  margin-top: 9px;
}
#searchimage {
  width: 35px;
  height: 35px;
}
#HambergerImage {
  height: 5vh;
  margin-left: 4px;
  margin-top: 7px;
}
.HambergerMenu{
  display: none;
}
a:link{
  text-decoration: none;
}
.active{
  color:#95060B;
}
li a{
  color:black;
}
@media screen and (max-width: 1500px) {
  .linkTab {
    margin-left: 10%;
  }
}
@media screen and (max-width: 1294px) {
  .linkTab {
    margin-left: 6%;
  }
  .loginDiv {
    margin-right: -77px;
  }
  #searchimage {
    margin-right: -9px;
  }
}

@media screen and (max-width: 1050px) {
  .linkUl li {
    margin-left: 3%;
    font-size: 20px;
  }
}

@media screen and (max-width: 915px) {
  .linkUl {
    flex-direction: column;
    float: left; 
    margin-top: 127px;
    margin-left: -126px;
  }
  .linkUl li {
    margin-left: 3%;
    font-size: 24px;
    width: 100%;
    margin-bottom: 10px;
  }
  .searchDiv {
    margin-left: 59%;
    margin-top: 2%;
  }
  .linkTab {
    width: 61px;
  }
  .HambergerMenu{
    display: block;
  }
}
@media screen and (max-width: 675px){
    .searchDiv{
        margin-left: 49%;
    }
    .linkUl {
      margin-left: -104px;
    }
    .loginDiv {
      background: #9100d0;
      margin-right: -79px;
      width: 61px;
      border-radius: 40px;
      height: 32px;
  }
  #loginTextOnly {
    margin-top: 6px;
}
}

@media screen and (max-width: 486px){
    .searchDiv {
        margin-left: 19%;
    }
    .linkTab {
        width: 93px;
    }
    .linkUl {
        margin-left: -88px;
    }
    .loginDiv {
      margin-right: -106px;
      width: 58px;
      height: 30px;
    }
    #loginTextOnly {
      font-size: 15px;
    }
    #searchimage {
      width: 29px;
      height: 29px;
  }
}


@media screen and (max-width: 332px){
    .searchDiv {
        margin-left: 0;
    }
    .linkTab {
        width: 93px;
    }
    .linkUl {
        margin-left: -108px;
    }
}
@media screen and (max-width: 280px){
  .linkUl {
    margin-left: -88px;
  }
  .loginDiv {
    margin-right: -109px;
}
}