body{
    overflow: hidden;
    left: 0;
    right:0;
    box-sizing: border-box;
    margin: 0;
}
.linkUl{
    display: flex;
    list-style: none;
}
.linkTab{
    width: 100%;
    margin-left: 15%;
}
.linkUl li{
    margin-left: 4%;
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.searchDiv{
    display: flex;
    width:10%;
    justify-content: space-around;
    margin-top: 0.5%;
    margin-right: 7%;
}
.HeaderTopDiv{
    display: flex;
    background-color: #fdf7f7;
    box-shadow: 4px 2px 4px 2px grey;
}
.loginDiv{
    background: #9100D0;
    margin-right: -22px;
    width: 71px;
    border-radius: 40px;
    height: 38px;
}
#loginTextOnly{
    font-size: 20px;
    text-align: center;
    align-self: center;
    color: #ffff;
    margin-top: 9px;
}
#searchimage{
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1250px) {
    .linkTab {
        margin-left: 6%;
    }
    .loginDiv {
        margin-right: -77px;
    }
    #searchimage {
        margin-right: -9px;
    }
}

@media screen and (max-width: 1050px) {
    .linkUl li {
        margin-left: 3%;
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    .linkTab {
        margin-left: 0%;
    }
    #searchimage {
        margin-right: 0px;
        width: 25px;
        height: 25px;
        margin-top: 10px;
    }
    .loginDiv {
        background: #9100D0;
        margin-right: -60px;
        width: 63px;
        border-radius: 10px;
        height: 31px;
        margin-top: 9%;
    }
    #loginTextOnly {
        margin-top: 6px;
    }
}
@media screen and (max-width: 784px){
.linkUl li {
    margin-left: 3%;
    font-size: 16px;
}
}

